<div class="about-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="cryptocurrency-about-image">
                    <img src="assets/img/cryptocurrency-home/about.png" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="cryptocurrency-about-content">
                    <span class="sub-title">About Crypto</span>
                    <h2>New Investors Can Buy The Initial Currency Offer To Receive A Cryptocurrency Token</h2>
                    <p>Donec sollicitudin molestie malesuada. Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Donec rutrum congue leo eget malesuada. Quisque velit nisi pretium ut lacinia in elementum.</p>
                    <ul class="about-list">
                        <li><i class="ri-check-fill"></i> Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.</li>
                        <li><i class="ri-check-fill"></i> Quisque velit nisi, pretium ut lacinia in, elementum id enim. </li>
                    </ul>
                    <div class="about-btn">
                        <a routerLink="/contact" class="default-btn style-two">
                            <span class="ri-arrow-right-s-line"></span>
                            Learn More
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="features-style-area pb-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-features-card text-start">
                    <div class="image">
                        <img src="assets/img/cryptocurrency-home/features/features-1.png" alt="image">
                    </div>
                    <h3>Quick Data Analysis</h3>
                    <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Donec rutrum congue leo eget malesuada. Quisque velit nisi pretium ut lacinia in elementum id enim.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-features-card text-start">
                    <div class="image">
                        <img src="assets/img/cryptocurrency-home/features/features-2.png" alt="image">
                    </div>
                    <h3>Secure And Reliable</h3>
                    <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Donec rutrum congue leo eget malesuada. Quisque velit nisi pretium ut lacinia in elementum id enim.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-features-card text-start">
                    <div class="image">
                        <img src="assets/img/cryptocurrency-home/features/features-3.png" alt="image">
                    </div>
                    <h3>Open And Transparent</h3>
                    <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Donec rutrum congue leo eget malesuada. Quisque velit nisi pretium ut lacinia in elementum id enim.</p>
                </div>
            </div>
        </div>
    </div>
</div>