<!-- Case Studies Details -->
<div class="case-studies-details-area ptb-100">
    <div class="container">
        <div class="case-studies-details-header row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-12">
                <div class="image">
                    <img src="assets/img/case-studies/case-studies10.png" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="content">
                    <img src="assets/img/case-studies/elan.png" alt="image">
                    <h1>eLan Education</h1>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    <ul class="meta">
                        <li>
                            <i class="ri-folder-2-line"></i>
                            <span>APP</span>
                            <a href="#" target="_blank">WordPress</a>
                        </li>
                        <li>
                            <i class="ri-price-tag-3-line"></i>
                            <span>CATEGORY</span>
                            <a routerLink="/work-style-1">Development</a>
                        </li>
                        <li>
                            <i class="ri-global-line"></i>
                            <span>LINK</span>
                            <a href="#" target="_blank">www.example.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="case-studies-details-desc">
            <div class="article-content">
                <div class="row mb-40">
                    <div class="col-lg-5 col-md-12">
                        <h2><span>THE CHALLENGE</span></h2>
                    </div>
                    <div class="col-lg-7 col-md-12">
                        <div class="content">
                            <h3>So, What Exactly is Positioning and Why Does It Matter?</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur <strong>adipisicing</strong> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea <a routerLink="/">commodo</a> consequat. Duis aute irure dolor in reprehenderit in  sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                            <ul>
                                <li>a console</li>
                                <li>Two Joy-Con controllers that are detachable</li>
                                <li>A grip that enables you to combine them into a single <a routerLink="/">gamepad</a> for play on the</li>
                                <li>Two straps for turning the Joy-Cons into individual controllers</li>
                                <li>A dock which you can use to connect your console to the <strong>television</strong> for traditional gameplay</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row mb-40">
                    <div class="col-lg-5 col-md-12">
                        <h2><span>THE SOLUTION</span></h2>
                    </div>
                    <div class="col-lg-7 col-md-12">
                        <div class="content">
                            <h3>How We Defined Our Positioning: a Step-by-Step Overview</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur <strong>adipisicing</strong> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea <a routerLink="/">commodo</a> consequat. Duis aute irure dolor in reprehenderit in  sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                            <blockquote class="wp-block-quote">
                                <p>It is a long established fact that a reader will be distracted by the readable when content of a page when looking at its layout.</p>
                                <cite>Tom Cruise</cite>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="row mb-40">
                    <div class="col-lg-5 col-md-12">
                        <h2><span>THE RESULT</span></h2>
                    </div>
                    <div class="col-lg-7 col-md-12">
                        <div class="content">
                            <h3>When Content Of a Page When Looking at Its Layout</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur <strong>adipisicing</strong> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea <a routerLink="/">commodo</a> consequat. Duis aute irure dolor in reprehenderit in  sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                            <ul class="wp-block-gallery columns-3">
                                <li class="blocks-gallery-item">
                                    <figure>
                                        <img src="assets/img/services/services1.jpg" alt="image">
                                    </figure>
                                </li>
                                <li class="blocks-gallery-item">
                                    <figure>
                                        <img src="assets/img/services/services2.jpg" alt="image">
                                    </figure>
                                </li>
                                <li class="blocks-gallery-item">
                                    <figure>
                                        <img src="assets/img/services/services3.jpg" alt="image">
                                    </figure>
                                </li>
                            </ul>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea <a routerLink="/">commodo</a> consequat. Duis aute irure dolor in reprehenderit in  sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                        </div>
                    </div>
                </div>
                <div class="article-tags">
                    <a routerLink="/work-style-1">#Business</a>
                    <a routerLink="/work-style-1">#Startup</a>
                    <a routerLink="/work-style-1">#Agency</a>
                    <a routerLink="/work-style-1">#Marketing</a>
                    <a routerLink="/work-style-1">#Social</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Related Case Studies -->
<div class="case-studies-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">CASE STUDIES</span>
            <h2>Related Case Studies</h2>
        </div>
        <div class="single-case-studies-box">
            <div class="row align-items-center m-0">
                <div class="col-lg-6 col-md-12 p-0">
                    <div class="content">
                        <div class="logo">
                            <img src="assets/img/case-studies/startp.png" alt="image">
                        </div>
                        <h3><a routerLink="/work-details">StartP Startup</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                        <ul class="features-list">
                            <li>
                                <span>FRAMEWORK</span>
                                <a routerLink="/work-style-2">React.js</a>
                            </li>
                            <li>
                                <span>CATEGORY</span>
                                <a routerLink="/work-style-3">Startup</a>
                            </li>
                            <li>
                                <span>WEB LINK</span>
                                <a href="#" target="_blank">www.startp.com</a>
                            </li>
                        </ul>
                        <a routerLink="/work-details" class="default-btn"><span class="ri-arrow-right-s-line"></span>View More</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 p-0">
                    <div class="image">
                        <img src="assets/img/case-studies/case-studies2.png" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape7"><img src="assets/img/shape/shape5.png" alt="image"></div>
    <div class="shape8"><img src="assets/img/shape/shape6.png" alt="image"></div>
</div>

<app-get-started></app-get-started>