<app-homefive-banner></app-homefive-banner>

<div class="background-with-gradient-color">

    <app-homefive-about></app-homefive-about>

    <app-buy-tokens></app-buy-tokens>

    <app-our-platforms></app-our-platforms>

    <app-why-choose-us></app-why-choose-us>

    <app-token-distribution></app-token-distribution>

    <app-cryptocurrency-invest-reasons></app-cryptocurrency-invest-reasons>

    <app-roadmap></app-roadmap>

    <app-team></app-team>

    <app-mobile-app></app-mobile-app>

    <app-partners></app-partners>

    <app-homefive-contact></app-homefive-contact>

</div>