<!-- Features Section for this Template -->
<div
    class="features-area pt-100 pb-70"
    [ngClass]="{'d-none': router.url === '/index-4'}"
>
    <div class="container">
        <div class="section-title">
            <span class="sub-title">OUR FEATURES</span>
            <h2>Be Everywhere Your Customers Are</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <img src="assets/img/icon/icon1.png" alt="image">
                    </div>
                    <h3>Email Marketing</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <img src="assets/img/icon/icon2.png" alt="image">
                    </div>
                    <h3>Content Writing</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <img src="assets/img/icon/icon3.png" alt="image">
                    </div>
                    <h3>Media Marketing</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Features Section for Home Demo - 4 -->
<div
    class="features-style-area pt-100 pb-70 d-none"
    [ngClass]="{'d-block': router.url === '/index-4'}"
>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-features-card">
                    <div class="image">
                        <img src="assets/img/cybersecurity-home/features/features-1.png" alt="image">
                    </div>
                    <h3>Network Security</h3>
                    <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Donec rutrum congue leo eget malesuada. Quisque velit nisi pretium ut lacinia in elementum id enim.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-features-card">
                    <div class="image">
                        <img src="assets/img/cybersecurity-home/features/features-2.png" alt="image">
                    </div>
                    <h3>Cloud Security</h3>
                    <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Donec rutrum congue leo eget malesuada. Quisque velit nisi pretium ut lacinia in elementum id enim.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-features-card">
                    <div class="image">
                        <img src="assets/img/cybersecurity-home/features/features-3.png" alt="image">
                    </div>
                    <h3>Application Security</h3>
                    <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Donec rutrum congue leo eget malesuada. Quisque velit nisi pretium ut lacinia in elementum id enim.</p>
                </div>
            </div>
        </div>
    </div>
</div>