<!-- Page Title -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content text-center">
            <h1>Case Studies</h1>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li>Case Studies</li>
            </ul>
            <div class="clients-list">
                <span>EXPLORE OUR LATEST CLIENTS PROJECTS</span>
                <div class="row justify-content-center">
                    <div class="col-lg-2 col-4 col-sm-3 col-md-2">
                        <div class="box">
                            <a href="#" target="_blank"><img src="assets/img/partner/logo1.png" alt="image"></a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-4 col-sm-3 col-md-2">
                        <div class="box">
                            <a href="#" target="_blank"><img src="assets/img/partner/logo2.png" alt="image"></a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-4 col-sm-3 col-md-2">
                        <div class="box">
                            <a href="#" target="_blank"><img src="assets/img/partner/logo3.png" alt="image"></a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-4 col-sm-3 col-md-2">
                        <div class="box">
                            <a href="#" target="_blank"><img src="assets/img/partner/logo4.png" alt="image"></a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-4 col-sm-3 col-md-2">
                        <div class="box">
                            <a href="#" target="_blank"><img src="assets/img/partner/logo5.png" alt="image"></a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-4 col-sm-3 col-md-2">
                        <div class="box">
                            <a href="#" target="_blank"><img src="assets/img/partner/logo6.png" alt="image"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape1"><img src="assets/img/shape/shape1.png" alt="image"></div>
    <div class="shape3"><img src="assets/img/shape/shape2.png" alt="image"></div>
</div>

<!-- Case Studies -->
<div class="case-studies-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">OUR CASE STUDIES</span>
            <h2>We Get you Higher Revenues, Not just Higher Ranks</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="case-studies-list">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6">
                    <div class="single-case-studies-item bg-3D2F5D">
                        <img src="assets/img/case-studies/case-studies1.png" alt="image">
                        <h3><a routerLink="/work-details">eLan Education</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore rts magna rtt aliqua. Ut enim ad minim veniam, quis norud.</p>
                        <a routerLink="/work-details" class="default-btn"><span class="ri-arrow-right-s-line"></span>Read More</a>
                    </div>
                    <div class="single-case-studies-item bg-AC5863">
                        <img src="assets/img/case-studies/case-studies2.png" alt="image">
                        <h3><a routerLink="/work-details">StartP Startup</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore rts magna rtt aliqua. Ut enim ad minim veniam, quis norud.</p>
                        <a routerLink="/work-details" class="default-btn"><span class="ri-arrow-right-s-line"></span>Read More</a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6">
                    <div class="single-case-studies-item bg-FFB774">
                        <img src="assets/img/case-studies/case-studies3.png" alt="image">
                        <h3><a routerLink="/work-details">Edmo Marketing</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore rts magna rtt aliqua. Ut enim ad minim veniam, quis norud.</p>
                        <a routerLink="/work-details" class="default-btn"><span class="ri-arrow-right-s-line"></span>Read More</a>
                    </div>
                    <div class="single-case-studies-item bg-34575A">
                        <img src="assets/img/case-studies/case-studies1.png" alt="image">
                        <h3><a routerLink="/work-details">WideCademy Remote</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore rts magna rtt aliqua. Ut enim ad minim veniam, quis norud.</p>
                        <a routerLink="/work-details" class="default-btn"><span class="ri-arrow-right-s-line"></span>Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape6"><img src="assets/img/shape/shape6.png" alt="image"></div>
</div>

<app-get-started></app-get-started>