<!-- Get Started Section for this Template -->
<div
    class="get-started-area bg-gradient-image pt-100"
    [ngClass]="{'d-none': router.url === '/index-2'}"
>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="get-started-image">
                    <img src="assets/img/man.png" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="get-started-content">
                    <span class="sub-title">READY TO STARTED?</span>
                    <h2>Let’s Talk Something <br>Amazing Together</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <a routerLink="/contact" class="default-btn style-two">
                        <span class="ri-arrow-right-s-line"></span>
                        Get Started Now
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Get Started Section for Home Demo - 2 -->
<div
    class="get-started-area bg-main-color pt-100 d-none"
    [ngClass]="{'d-block': router.url === '/index-2'}"
>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="get-started-image">
                    <img src="assets/img/woman2.png" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="get-started-content white-color">
                    <span class="sub-title">READY TO STARTED?</span>
                    <h2>Let’s Talk Something <br>Amazing Together</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <a routerLink="/contact" class="default-btn style-two">
                        <span class="ri-arrow-right-s-line"></span>
                        Get Started Now
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>