<!-- Funfacts Section for this Template -->
<div
    class="funfacts-area pt-100 pb-70"
    [ngClass]="{'d-none': router.url === '/index-4'}"
>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6 col-sm-4 col-6">
                <div class="single-funfacts-box">
                    <div class="icon">
                        <i class="ri-stack-fill"></i>
                    </div>
                    <h3><span class="odometer">355</span></h3>
                    <p>COMPLETED PROJECT</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-4 col-6">
                <div class="single-funfacts-box">
                    <div class="icon bg-4D69FF">
                        <i class="ri-user-smile-fill"></i>
                    </div>
                    <h3><span class="odometer">289</span></h3>
                    <p>HAPPY CUSTOMERS</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-4 col-6">
                <div class="single-funfacts-box">
                    <div class="icon bg-FFC23B">
                        <i class="ri-medal-fill"></i>
                    </div>
                    <h3><span class="odometer">15</span></h3>
                    <p>WINNING AWARD</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-4 col-6">
                <div class="single-funfacts-box">
                    <div class="icon bg-00A4C8">
                        <i class="ri-group-fill"></i>
                    </div>
                    <h3><span class="odometer">149</span></h3>
                    <p>TEAM MEMBER</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Funfacts Section for Home Demo - 4 -->
<div
    class="funfacts-style-area d-none"
    [ngClass]="{'d-block': router.url === '/index-4'}"
>
    <div class="container">
        <div class="funfacts-style-inner-box pt-100 pb-70">
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-3 col-sm-3 col-6">
                    <div class="single-funfact-card">
                        <h3>
                            <span class="odometer">5</span>
                            <span class="small-text">K</span>
                        </h3>
                        <p>Data Secure</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-6">
                    <div class="single-funfact-card">
                        <h3>
                            <span class="odometer">1500</span>
                            <span class="small-icon">+</span>
                        </h3>
                        <p>Trusted Organizations</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-6">
                    <div class="single-funfact-card">
                        <h3>
                            <span class="odometer">100</span>
                            <span class="small-text">%</span>
                        </h3>
                        <p>Service Guarantee</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-6">
                    <div class="single-funfact-card">
                        <h3>
                            <span class="odometer">100</span>
                            <span class="small-icon">+</span>
                        </h3>
                        <p>Website Protection</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>