<div class="case-studies-area extra-top-padding bg-gradient-image pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">OUR CASE STUDIES</span>
            <h2>Case Studies</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <br>incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="case-studies-box">
                    <img src="assets/img/case-studies/case-studies4.png" alt="image">
                    <h3><a routerLink="/work-details">eLan Education</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore rts magna rtt aliqua.</p>
                    <a routerLink="/work-details" class="default-btn"><span class="ri-arrow-right-s-line"></span>Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="case-studies-box">
                    <img src="assets/img/case-studies/case-studies5.png" alt="image">
                    <h3><a routerLink="/work-details">StartP Startup</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore rts magna rtt aliqua.</p>
                    <a routerLink="/work-details" class="default-btn"><span class="ri-arrow-right-s-line"></span>Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="case-studies-box">
                    <img src="assets/img/case-studies/case-studies6.png" alt="image">
                    <h3><a routerLink="/work-details">Edmo Marketing</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore rts magna rtt aliqua.</p>
                    <a routerLink="/work-details" class="default-btn"><span class="ri-arrow-right-s-line"></span>Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="case-studies-box">
                    <img src="assets/img/case-studies/case-studies7.png" alt="image">
                    <h3><a routerLink="/work-details">StartNext IT</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore rts magna rtt aliqua.</p>
                    <a routerLink="/work-details" class="default-btn"><span class="ri-arrow-right-s-line"></span>Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="case-studies-box">
                    <img src="assets/img/case-studies/case-studies8.png" alt="image">
                    <h3><a routerLink="/work-details">Naxai Security</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore rts magna rtt aliqua.</p>
                    <a routerLink="/work-details" class="default-btn"><span class="ri-arrow-right-s-line"></span>Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="case-studies-box">
                    <img src="assets/img/case-studies/case-studies9.png" alt="image">
                    <h3><a routerLink="/work-details">Noke Creative</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore rts magna rtt aliqua.</p>
                    <a routerLink="/work-details" class="default-btn"><span class="ri-arrow-right-s-line"></span>Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pb-100">
    <app-partners></app-partners>
</div>