<div class="banner-area">
    <div class="container">
        <div class="banner-content">
            <span class="sub-title">AWARD WINNING COMPANY</span>
            <h1>Make Your Business More Money With Team Of Experts</h1>
            <a routerLink="/contact" class="default-btn style-two">
                <span class="ri-arrow-right-s-line"></span>
                Get Started Now
            </a>
            <img src="assets/img/banner.png" alt="banner-image">
        </div>
    </div>
    <div class="shape1"><img src="assets/img/shape/shape1.png" alt="image"></div>
    <div class="shape2"><img src="assets/img/shape/shape2.png" alt="image"></div>
    <div class="shape3"><img src="assets/img/shape/shape3.png" alt="image"></div>
    <div class="shape4"><img src="assets/img/shape/shape4.png" alt="image"></div>
    <div class="shape9"><img src="assets/img/shape/shape8.png" alt="image"></div>
</div>