<div
    class="case-studies-area ptb-100"
    [ngClass]="{'pt-0': router.url === '/index-3'}"
>
    <div class="container">
        <div class="section-title">
            <span class="sub-title">OUR CASE STUDIES</span>
            <h2>We Get you Higher Revenues, Not just Higher Ranks</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="case-studies-slides">
            <owl-carousel-o [options]="caseStudiesSlides">
                <ng-template carouselSlide>
                    <div class="single-case-studies-box">
                        <div class="row align-items-center m-0">
                            <div class="col-lg-6 col-md-12 p-0">
                                <div class="content">
                                    <div class="logo">
                                        <img src="assets/img/case-studies/elan.png" alt="image">
                                    </div>
                                    <h3><a routerLink="/work-details">eLan Education</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                                    <ul class="features-list">
                                        <li>
                                            <span>FRAMEWORK</span>
                                            <a routerLink="/work-style-1">WordPress</a>
                                        </li>
                                        <li>
                                            <span>CATEGORY</span>
                                            <a routerLink="/work-style-2">Education</a>
                                        </li>
                                        <li>
                                            <span>WEB LINK</span>
                                            <a href="#" target="_blank">www.elan.com</a>
                                        </li>
                                    </ul>
                                    <a routerLink="/work-details" class="default-btn">
                                        <span class="ri-arrow-right-s-line"></span>
                                        View More
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 p-0">
                                <div class="image">
                                    <img src="assets/img/case-studies/case-studies1.png" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-case-studies-box">
                        <div class="row align-items-center m-0">
                            <div class="col-lg-6 col-md-12 p-0">
                                <div class="content">
                                    <div class="logo">
                                        <img src="assets/img/case-studies/startp.png" alt="image">
                                    </div>
                                    <h3><a routerLink="/work-details">StartP Startup</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                                    <ul class="features-list">
                                        <li>
                                            <span>FRAMEWORK</span>
                                            <a routerLink="/work-style-2">React.js</a>
                                        </li>
                                        <li>
                                            <span>CATEGORY</span>
                                            <a routerLink="/work-style-3">Startup</a>
                                        </li>
                                        <li>
                                            <span>WEB LINK</span>
                                            <a href="#" target="_blank">www.startp.com</a>
                                        </li>
                                    </ul>
                                    <a routerLink="/work-details" class="default-btn">
                                        <span class="ri-arrow-right-s-line"></span>
                                        View More
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 p-0">
                                <div class="image">
                                    <img src="assets/img/case-studies/case-studies2.png" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-case-studies-box">
                        <div class="row align-items-center m-0">
                            <div class="col-lg-6 col-md-12 p-0">
                                <div class="content">
                                    <div class="logo">
                                        <img src="assets/img/case-studies/edmo.png" alt="image">
                                    </div>
                                    <h3><a routerLink="/work-details">Edmo Marketing</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                                    <ul class="features-list">
                                        <li>
                                            <span>FRAMEWORK</span>
                                            <a routerLink="/work-style-1">Moodle</a>
                                        </li>
                                        <li>
                                            <span>CATEGORY</span>
                                            <a routerLink="/work-style-2">Marketing</a>
                                        </li>
                                        <li>
                                            <span>WEB LINK</span>
                                            <a href="#" target="_blank">www.edmo.com</a>
                                        </li>
                                    </ul>
                                    <a routerLink="/work-details" class="default-btn">
                                        <span class="ri-arrow-right-s-line"></span>
                                        View More
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 p-0">
                                <div class="image">
                                    <img src="assets/img/case-studies/case-studies3.png" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
    <div class="shape7"><img src="assets/img/shape/shape5.png" alt="image"></div>
    <div class="shape8"><img src="assets/img/shape/shape6.png" alt="image"></div>
</div>