<!-- FAQ Section for this Template -->
<div
    class="faq-area ptb-100"
    [ngClass]="{'d-none': router.url === '/index-6'}"
>
    <div class="container">
        <div class="section-title">
            <span class="sub-title">FAQ</span>
            <h2>Frequently Asked Questions</h2>
        </div>
        <div class="faq-accordion accordion">
            <!-- <accordion>
                <accordion-group heading="What are my payment options?">
                    <p><strong>Onux</strong> is always looking for talented <a routerLink="/">information</a> security and IT risk management professionals who are dedicated, hard working and looking for a challenge. If you are interested in employment with <strong>Onux</strong>, a company who values you and your family, visit our careers page.</p>
                </accordion-group>
                <accordion-group heading="Can you send me an invoice?">
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.</p>
                    <p>Sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
                    <ul>
                        <li>a console</li>
                        <li>Two Joy-Con controllers that are detachable</li>
                        <li>A grip that enables you to combine them into a single <strong>gamepad</strong> for play on the</li>
                        <li>Two straps for turning the Joy-Cons into individual controllers</li>
                        <li>A dock which you can use to connect your console to the television for traditional gameplay</li>
                    </ul>
                </accordion-group>
                <accordion-group heading="Do you offer a discount for universities and students?">
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.</p>
                    <p>Sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
                </accordion-group>
                <accordion-group heading="Can I transfer projects from my personal account to my team?">
                    <p><strong>Onux</strong> is always looking for talented <a routerLink="/">information</a> security and IT risk management professionals who are dedicated, hard working and looking for a challenge. If you are interested in employment with <strong>Onux</strong>, a company who values you and your family, visit our careers page.</p>
                </accordion-group>
                <accordion-group heading="Can I cancel my plan at any time?">
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.</p>
                    <p>Sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
                    <ul>
                        <li>a console</li>
                        <li>Two Joy-Con controllers that are detachable</li>
                        <li>A grip that enables you to combine them into a single <strong>gamepad</strong> for play on the</li>
                        <li>Two straps for turning the Joy-Cons into individual controllers</li>
                        <li>A dock which you can use to connect your console to the television for traditional gameplay</li>
                    </ul>
                </accordion-group>
                <accordion-group heading="What is Team Management?">
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.</p>
                    <p>Sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
                </accordion-group>
            </accordion> -->
        </div>
    </div>
</div>

<!-- FAQ Section for Home Demo - 6 -->
<div
    class="ico-faq-area ptb-100 d-none"
    [ngClass]="{'d-block': router.url === '/index-6'}"
>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="ico-faq-image">
                    <img src="assets/img/ico-landing-home/faq.png" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="ico-faq-content">
                    <h2>Frequently Asked Questions</h2>
                    <p>Sed porttitor lectus nibh. Nulla porttitor accumsan tincidunt. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.</p>
                </div>
                <div class="ico-faq-accordion accordion">
                    <!-- <accordion>
                        <accordion-group heading="What is Onux ICO?" [isOpened]="true">
                            <p>Curabitur arcu erat accumsan id imperdiet et porttitor at sem. Nulla quis lorem ut libero malesuada feugiat pellentesque in ipsum id orci porta dapibus.</p>
                        </accordion-group>
                        <accordion-group heading="How much does it cost to use Onux?">
                            <p>Curabitur arcu erat accumsan id imperdiet et porttitor at sem. Nulla quis lorem ut libero malesuada feugiat pellentesque in ipsum id orci porta dapibus.</p>
                        </accordion-group>
                        <accordion-group heading="Who can invest through Onux?">
                            <p>Curabitur arcu erat accumsan id imperdiet et porttitor at sem. Nulla quis lorem ut libero malesuada feugiat pellentesque in ipsum id orci porta dapibus.</p>
                        </accordion-group>
                        <accordion-group heading="How can I open a Onux account?">
                            <p>Curabitur arcu erat accumsan id imperdiet et porttitor at sem. Nulla quis lorem ut libero malesuada feugiat pellentesque in ipsum id orci porta dapibus.</p>
                        </accordion-group>
                        <accordion-group heading="What technology are we using?">
                            <p>Curabitur arcu erat accumsan id imperdiet et porttitor at sem. Nulla quis lorem ut libero malesuada feugiat pellentesque in ipsum id orci porta dapibus.</p>
                        </accordion-group>
                    </accordion> -->
                </div>
            </div>
        </div>
    </div>
</div>
