<!-- Default Services Section for this Template -->
<div class="services-area pt-100 pb-70"
  [ngClass]="{'d-none': router.url === '/index-2' || router.url === '/index-3' || router.url === '/index-4'}">
  <div class="container">
    <div class="section-title">
      <span class="sub-title">OUR SERVICES</span>
      <h2>We Offer Professional Services For Business</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.</p>
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div class="single-services-box bg-1">
          <div class="d-flex align-items-center">
            <img src="assets/img/icon/icon8.png" alt="image">
            <h3><a routerLink="/services">Web Development</a></h3>
          </div>
          <p>We provide exceptional web design services that guarantee optimal efficiency, punctual delivery, and a
            user-friendly experience. We are dedicated to helping you establish and enhance your brand identity through
            our cutting-edge designs.</p>
          <a routerLink="/services" class="default-btn">
            <span class="ri-arrow-right-s-line"></span>
            Learn More
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div class="single-services-box bg-2">
          <div class="d-flex align-items-center">
            <img src="assets/img/icon/icon9.png" alt="image">
            <h3><a routerLink="/services">Mobile Development</a></h3>
          </div>
          <p>As a software development company, we build extensive hybrid apps for iOS, Android and cross-platform to
            ensure the best experience for your customers.</p>
          <a routerLink="/services" class="default-btn">
            <span class="ri-arrow-right-s-line"></span>
            Learn More
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div class="single-services-box bg-3">
          <div class="d-flex align-items-center">
            <img src="assets/img/icon/icon10.png" alt="image">
            <h3><a routerLink="/services">Web Designing</a></h3>
          </div>
          <p>At our company, we take pride in delivering top-notch web design services that prioritize efficiency,
            prompt delivery, and utmost user-friendliness. Our goal is to empower you in building your brand through our
            meticulously crafted designs.</p>
          <a routerLink="/services" class="default-btn">
            <span class="ri-arrow-right-s-line"></span>
            Learn More
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div class="single-services-box bg-4">
          <div class="d-flex align-items-center">
            <img src="assets/img/icon/icon11.png" alt="image">
            <h3><a routerLink="/services">Digital Marketing</a></h3>
          </div>
          <p>We specialize in catalyzing business growth through the dynamic online/digital platform. Utilizing
            customized and powerful techniques, we effectively market our customers' products/services across various
            digital channels, ensuring optimal visibility and success.</p>
          <a routerLink="/services" class="default-btn">
            <span class="ri-arrow-right-s-line"></span>
            Learn More
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div class="single-services-box bg-5">
          <div class="d-flex align-items-center">
            <img src="assets/img/icon/icon12.png" alt="image">
            <h3><a routerLink="/services">SEO Optimizer</a></h3>
          </div>
          <p>Entrusting your SEO to a company without reliable support can be risky. Rest assured, our friendly 24x7
            support team is eagerly available to assist you in climbing the ranks and achieving your optimization goals!
          </p>
          <a routerLink="/services" class="default-btn">
            <span class="ri-arrow-right-s-line"></span>
            Learn More
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div class="single-services-box bg-6">
          <div class="d-flex align-items-center">
            <img src="assets/img/icon/icon13.png" alt="image">
            <h3><a routerLink="/services">Progressive Web App Development</a></h3>
          </div>
          <p>Experience the advantages of our advanced web app development services, which can provide you with a
            seamlessly responsive and polished application that caters to all devices.</p>
          <a routerLink="/services" class="default-btn">
            <span class="ri-arrow-right-s-line"></span>
            Learn More
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Services Section for Home Demo - 2 -->
<div class="services-area pb-100 d-none" [ngClass]="{'d-block': router.url === '/index-2'}">
  <div class="container">
    <div class="section-title">
      <span class="sub-title">OUR SERVICES</span>
      <h2>We Offer Professional Services For Business</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.</p>
    </div>
    <div class="services-slides">
      <owl-carousel-o [options]="servicesSlides">
        <ng-template carouselSlide>
          <div class="single-services-item">
            <div class="d-flex align-items-center">
              <img src="assets/img/icon/icon8.png" alt="image">
              <h3><a routerLink="/services">Branding</a></h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad.</p>
            <ul class="features-list">
              <li><span><i class="ri-checkbox-circle-fill"></i> Identity</span></li>
              <li><span><i class="ri-checkbox-circle-fill"></i> Voice</span></li>
              <li><span><i class="ri-checkbox-circle-fill"></i> Positioning</span></li>
              <li><span><i class="ri-checkbox-circle-fill"></i> competitor Farm</span></li>
            </ul>
            <a routerLink="/services" class="default-btn">
              <span class="ri-arrow-right-s-line"></span>
              Learn More
            </a>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="single-services-item">
            <div class="d-flex align-items-center">
              <img src="assets/img/icon/icon9.png" alt="image">
              <h3><a routerLink="/services">Design</a></h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad.</p>
            <ul class="features-list">
              <li><span><i class="ri-checkbox-circle-fill"></i> App Design</span></li>
              <li><span><i class="ri-checkbox-circle-fill"></i> Website Design</span></li>
              <li><span><i class="ri-checkbox-circle-fill"></i> Product Design</span></li>
              <li><span><i class="ri-checkbox-circle-fill"></i> UX Design</span></li>
            </ul>
            <a routerLink="/services" class="default-btn">
              <span class="ri-arrow-right-s-line"></span>
              Learn More
            </a>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="single-services-item">
            <div class="d-flex align-items-center">
              <img src="assets/img/icon/icon10.png" alt="image">
              <h3><a routerLink="/services">Content</a></h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad.</p>
            <ul class="features-list">
              <li><span><i class="ri-checkbox-circle-fill"></i> Photography</span></li>
              <li><span><i class="ri-checkbox-circle-fill"></i> Animations</span></li>
              <li><span><i class="ri-checkbox-circle-fill"></i> Copywriting</span></li>
              <li><span><i class="ri-checkbox-circle-fill"></i> Social Content</span></li>
            </ul>
            <a routerLink="/services" class="default-btn">
              <span class="ri-arrow-right-s-line"></span>
              Learn More
            </a>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="single-services-item">
            <div class="d-flex align-items-center">
              <img src="assets/img/icon/icon11.png" alt="image">
              <h3><a routerLink="/services">Strategy</a></h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad.</p>
            <ul class="features-list">
              <li><span><i class="ri-checkbox-circle-fill"></i> Research</span></li>
              <li><span><i class="ri-checkbox-circle-fill"></i> Positioning</span></li>
              <li><span><i class="ri-checkbox-circle-fill"></i> Analysis</span></li>
              <li><span><i class="ri-checkbox-circle-fill"></i> Market Strategy</span></li>
            </ul>
            <a routerLink="/services" class="default-btn">
              <span class="ri-arrow-right-s-line"></span>
              Learn More
            </a>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="single-services-item">
            <div class="d-flex align-items-center">
              <img src="assets/img/icon/icon12.png" alt="image">
              <h3><a routerLink="/services">Marketing</a></h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad.</p>
            <ul class="features-list">
              <li><span><i class="ri-checkbox-circle-fill"></i> Email Campaigns</span></li>
              <li><span><i class="ri-checkbox-circle-fill"></i> Social Campaigns</span></li>
              <li><span><i class="ri-checkbox-circle-fill"></i> Positioning</span></li>
              <li><span><i class="ri-checkbox-circle-fill"></i> Print Campaigns</span></li>
            </ul>
            <a routerLink="/services" class="default-btn">
              <span class="ri-arrow-right-s-line"></span>
              Learn More
            </a>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="single-services-item">
            <div class="d-flex align-items-center">
              <img src="assets/img/icon/icon13.png" alt="image">
              <h3><a routerLink="/services">Technology</a></h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad.</p>
            <ul class="features-list">
              <li><span><i class="ri-checkbox-circle-fill"></i> E-Commerce</span></li>
              <li><span><i class="ri-checkbox-circle-fill"></i> Prototyping</span></li>
              <li><span><i class="ri-checkbox-circle-fill"></i> Positioning</span></li>
              <li><span><i class="ri-checkbox-circle-fill"></i> Platform & APIs</span></li>
            </ul>
            <a routerLink="/services" class="default-btn">
              <span class="ri-arrow-right-s-line"></span>
              Learn More
            </a>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</div>

<!-- Services Section for Home Demo - 3 -->
<div class="services-area ptb-100 d-none" [ngClass]="{'d-block': router.url === '/index-3'}">
  <div class="container">
    <div class="section-title">
      <span class="sub-title">OUR SERVICES</span>
      <h2>We Offer Professional Services For Business</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.</p>
    </div>
    <div class="services-slides-two">
      <owl-carousel-o [options]="servicesSlidesTwo">
        <ng-template carouselSlide>
          <div class="single-services-item with-boxshadow">
            <div class="d-flex align-items-center">
              <img src="assets/img/icon/icon8.png" alt="image">
              <h3><a routerLink="/services">Branding</a></h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adiscing elit, sed do eiusmod tempor ut labore et dolore magna
              aliqua.</p>
            <a routerLink="/services" class="default-btn">
              <span class="ri-arrow-right-s-line"></span>
              Learn More
            </a>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="single-services-item with-boxshadow">
            <div class="d-flex align-items-center">
              <img src="assets/img/icon/icon9.png" alt="image">
              <h3><a routerLink="/services">Design</a></h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adiscing elit, sed do eiusmod tempor ut labore et dolore magna
              aliqua.</p>
            <a routerLink="/services" class="default-btn">
              <span class="ri-arrow-right-s-line"></span>
              Learn More
            </a>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="single-services-item with-boxshadow">
            <div class="d-flex align-items-center">
              <img src="assets/img/icon/icon10.png" alt="image">
              <h3><a routerLink="/services">Content</a></h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adiscing elit, sed do eiusmod tempor ut labore et dolore magna
              aliqua.</p>
            <a routerLink="/services" class="default-btn">
              <span class="ri-arrow-right-s-line"></span>
              Learn More
            </a>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="single-services-item with-boxshadow">
            <div class="d-flex align-items-center">
              <img src="assets/img/icon/icon11.png" alt="image">
              <h3><a routerLink="/services">Strategy</a></h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adiscing elit, sed do eiusmod tempor ut labore et dolore magna
              aliqua.</p>
            <a routerLink="/services" class="default-btn">
              <span class="ri-arrow-right-s-line"></span>
              Learn More
            </a>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="single-services-item with-boxshadow">
            <div class="d-flex align-items-center">
              <img src="assets/img/icon/icon12.png" alt="image">
              <h3><a routerLink="/services">Marketing</a></h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adiscing elit, sed do eiusmod tempor ut labore et dolore magna
              aliqua.</p>
            <a routerLink="/services" class="default-btn">
              <span class="ri-arrow-right-s-line"></span>
              Learn More
            </a>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="single-services-item with-boxshadow">
            <div class="d-flex align-items-center">
              <img src="assets/img/icon/icon13.png" alt="image">
              <h3><a routerLink="/services">Technology</a></h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adiscing elit, sed do eiusmod tempor ut labore et dolore magna
              aliqua.</p>
            <a routerLink="/services" class="default-btn">
              <span class="ri-arrow-right-s-line"></span>
              Learn More
            </a>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</div>

<!-- Services Section for Home Demo - 4 -->
<div class="cyber-security-services-area ptb-100 d-none" [ngClass]="{'d-block': router.url === '/index-4'}">
  <div class="container">
    <div class="section-title with-max-width">
      <h2>Cyber Security Services</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.</p>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-12">
        <div class="cyber-security-services-card">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
              <div class="services-image">
                <img src="assets/img/cybersecurity-home/services/services-1.png" alt="image">
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="services-content">
                <h3>
                  <a routerLink="/services">Phishing Attack</a>
                </h3>
                <p>Nulla quis lorem ut libero malesuada feugiat. Vivamus magna justo lacinia eget consectetur sed
                  convallis at.</p>
                <a routerLink="/services" class="services-btn">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="cyber-security-services-card">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
              <div class="services-image">
                <img src="assets/img/cybersecurity-home/services/services-2.png" alt="image">
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="services-content">
                <h3>
                  <a routerLink="/services">Data Protection</a>
                </h3>
                <p>Nulla quis lorem ut libero malesuada feugiat. Vivamus magna justo lacinia eget consectetur sed
                  convallis at.</p>
                <a routerLink="/services" class="services-btn">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="cyber-security-services-card">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
              <div class="services-image">
                <img src="assets/img/cybersecurity-home/services/services-3.png" alt="image">
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="services-content">
                <h3>
                  <a routerLink="/services">Quality Assurance</a>
                </h3>
                <p>Nulla quis lorem ut libero malesuada feugiat. Vivamus magna justo lacinia eget consectetur sed
                  convallis at.</p>
                <a routerLink="/services" class="services-btn">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="cyber-security-services-card">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
              <div class="services-image">
                <img src="assets/img/cybersecurity-home/services/services-4.png" alt="image">
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="services-content">
                <h3>
                  <a routerLink="/services">Smart Contraxt</a>
                </h3>
                <p>Nulla quis lorem ut libero malesuada feugiat. Vivamus magna justo lacinia eget consectetur sed
                  convallis at.</p>
                <a routerLink="/services" class="services-btn">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12">
        <div class="view-all-services-btn">
          <a routerLink="/services" class="default-btn style-two">
            <span class="ri-arrow-right-s-line"></span>
            View All Services
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="cyber-security-services-shape"><img src="assets/img/cybersecurity-home/services/shape.png" alt="image">
  </div>
</div>
