<!-- Default Services Section for this Template -->
<div class="services-area pt-100 pb-70"
  [ngClass]="{'d-none': router.url === '/index-2' || router.url === '/index-3' || router.url === '/index-4'}">
  <div class="container">
    <div class="section-title">
      <span class="sub-title">OUR SERVICES</span>
      <h2>We Offer Professional Services For Business</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.</p>
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div class="single-services-box bg-1">
          <div class="d-flex align-items-center">
            <img src="assets/img/icon/icon8.png" alt="image">
            <h3><a routerLink="/services">Web Development</a></h3>
          </div>
          <p>We provide exceptional web design services that guarantee optimal efficiency, punctual delivery, and a
            user-friendly experience. We are dedicated to helping you establish and enhance your brand identity through
            our cutting-edge designs.</p>
          <a routerLink="/services" class="default-btn">
            <span class="ri-arrow-right-s-line"></span>
            Learn More
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div class="single-services-box bg-2">
          <div class="d-flex align-items-center">
            <img src="assets/img/icon/icon9.png" alt="image">
            <h3><a routerLink="/services">Mobile Development</a></h3>
          </div>
          <p>As a software development company, we build extensive hybrid apps for iOS, Android and cross-platform to
            ensure the best experience for your customers.</p>
          <a routerLink="/services" class="default-btn">
            <span class="ri-arrow-right-s-line"></span>
            Learn More
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div class="single-services-box bg-3">
          <div class="d-flex align-items-center">
            <img src="assets/img/icon/icon10.png" alt="image">
            <h3><a routerLink="/services">Web Designing</a></h3>
          </div>
          <p>At our company, we take pride in delivering top-notch web design services that prioritize efficiency,
            prompt delivery, and utmost user-friendliness. Our goal is to empower you in building your brand through our
            meticulously crafted designs.</p>
          <a routerLink="/services" class="default-btn">
            <span class="ri-arrow-right-s-line"></span>
            Learn More
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div class="single-services-box bg-4">
          <div class="d-flex align-items-center">
            <img src="assets/img/icon/icon11.png" alt="image">
            <h3><a routerLink="/services">Digital Marketing</a></h3>
          </div>
          <p>We specialize in catalyzing business growth through the dynamic online/digital platform. Utilizing
            customized and powerful techniques, we effectively market our customers' products/services across various
            digital channels, ensuring optimal visibility and success.</p>
          <a routerLink="/services" class="default-btn">
            <span class="ri-arrow-right-s-line"></span>
            Learn More
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div class="single-services-box bg-5">
          <div class="d-flex align-items-center">
            <img src="assets/img/icon/icon12.png" alt="image">
            <h3><a routerLink="/services">SEO Optimizer</a></h3>
          </div>
          <p>Entrusting your SEO to a company without reliable support can be risky. Rest assured, our friendly 24x7
            support team is eagerly available to assist you in climbing the ranks and achieving your optimization goals!
          </p>
          <a routerLink="/services" class="default-btn">
            <span class="ri-arrow-right-s-line"></span>
            Learn More
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div class="single-services-box bg-6">
          <div class="d-flex align-items-center">
            <img src="assets/img/icon/icon13.png" alt="image">
            <h3><a routerLink="/services">Progressive Web App Development</a></h3>
          </div>
          <p>Experience the advantages of our advanced web app development services, which can provide you with a
            seamlessly responsive and polished application that caters to all devices.</p>
          <a routerLink="/services" class="default-btn">
            <span class="ri-arrow-right-s-line"></span>
            Learn More
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

