<div class="home-area">
    <div class="home-slides">
        <owl-carousel-o [options]="homeSlides">
            <ng-template carouselSlide>
                <div class="banner-item">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-12">
                                <div class="home-content">
                                    <span class="sub-title">AWARD WINNING COMPANY</span>
                                    <h1>Make Your Business More Money With Team Of Experts</h1>
                                    <a routerLink="/contact" class="default-btn style-two">
                                        <span class="ri-arrow-right-s-line"></span>
                                        Get Started Now
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="home-image">
                                    <img src="assets/img/banner-img1.png" alt="banner-image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="banner-item">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-12">
                                <div class="home-content">
                                    <span class="sub-title">AWARD WINNING COMPANY</span>
                                    <h1>Make Your Business More Money With Team Of Experts</h1>
                                    <a routerLink="/contact" class="default-btn style-two">
                                        <span class="ri-arrow-right-s-line"></span>
                                        Get Started Now
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="home-image">
                                    <img src="assets/img/banner-img2.png" alt="banner-image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>