<!-- Feedback Section for this Template -->
<div class="feedback-area pt-100 pb-70" [ngClass]="{'d-none': router.url === '/index-3'}">
  <div class="container">
    <div class="section-title">
      <span class="sub-title">TESTIMONIALS</span>
      <h2>Our Valuable Clients Feedback</h2>
    </div>
    <div class="feedback-slides">
      <owl-carousel-o [options]="feedbackSlides">
        <ng-template carouselSlide>
          <div class="single-feedback-item">
            <p>"Ketan did excellent work on my development project, and it was a pleasure to collaborate with him. His
              ability to convey information, his punctuality, and the strength of his skills were all outstanding. He's
              not afraid to branch out and try something new, even if it's beyond his area of expertise. Ketan was a
              pleasure to deal with, and I anticipate hiring him for future projects."</p>
            <div class="client-info">
              <div class="d-flex align-items-center">
                <img src="assets/img/user/user1.jpg" alt="image">
                <div class="title">
                  <h3>Artificial Reality (artec)</h3>
                  <span>Software company, Mumbai</span>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="single-feedback-item">
            <p>"Ketan delivered good work on this Angular development project.
              It was a pleasure working with Ketan. When introduced to new technology and frameworks he was able to
              learn and implement very quickly.
              He also needed very little instructions and oversite.
              He always put the work in and was able to consistently delivery earlier than we expected.
              His communication was top-notch, he met all deadlines, and his skills were reasonably strong.
              I enjoyed working with Ketan and will likely have additional jobs for him in the future."</p>
            <div class="client-info">
              <div class="d-flex align-items-center">
                <img src="assets/img/user/user2.jpg" alt="image">
                <div class="title">
                  <h3>Rekor Systems, Inc.</h3>
                  <span>Software company, USA</span>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="single-feedback-item">
            <p>"Had a great experience with Ketan. He produces efficient, high-quality work"</p>
            <div class="client-info">
              <div class="d-flex align-items-center">
                <img src="assets/img/user/user3.jpg" alt="image">
                <div class="title">
                  <h3>Client, Upwork</h3>
                  <span>UK</span>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="single-feedback-item">
            <p>"Very cool developer! Take an interest in the work, performs everything in time and does qualitatively!
              It's nice to work with him and I highly recommend him"</p>
            <div class="client-info">
              <div class="d-flex align-items-center">
                <img src="assets/img/user/user4.jpg" alt="image">
                <div class="title">
                  <h3>Client, Upwork</h3>
                  <span>UK</span>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="single-feedback-item">
            <p>"Brilliant frontend developer who worked with my team during crunch time and really pulled through. Ketan
              was quick to learn our system, easy to work with, and solved many of our time intensive and hard-to-solve
              tickets. Will most definitely work with Ketan again in the future."</p>
            <div class="client-info">
              <div class="d-flex align-items-center">
                <img src="assets/img/user/user4.jpg" alt="image">
                <div class="title">
                  <h3>DeeperSignals, Upwork</h3>
                  <span>Software company, USA</span>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="single-feedback-item">
            <p>"It was pleasure to work with Ketan. He is very skilled developer. Communication is at very good level
              and deadlines are strictly followed. Thank you."</p>
            <div class="client-info">
              <div class="d-flex align-items-center">
                <img src="assets/img/user/user4.jpg" alt="image">
                <div class="title">
                  <h3>Client, Upwork</h3>
                  <span>Romania</span>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</div>
