<!-- Default Partner Section for this Template -->
<div
    class="partner-area pt-100"
    [ngClass]="{'d-none': router.url === '/index-2' || router.url === '/index-4' || router.url === '/index-5' || router.url === '/index-6'}"
>
    <div class="container">
        <div class="section-title style-two">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12">
                    <span class="sub-title">OUR PARTNERS</span>
                    <h2>A Trusted Partner <br>For Ambitious Brands</h2>
                </div>
                <div class="col-lg-7 col-md-12">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters. It is a long established fact that a reader will be distracted by the.</p>
                </div>
            </div>
        </div>
        <div class="partner-slides">
            <owl-carousel-o [options]="partnerSlides">
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <a href="#" class="d-block" target="_blank">
                            <img src="assets/img/partner/partner1.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <a href="#" class="d-block" target="_blank">
                            <img src="assets/img/partner/partner2.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <a href="#" class="d-block" target="_blank">
                            <img src="assets/img/partner/partner3.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <a href="#" class="d-block" target="_blank">
                            <img src="assets/img/partner/partner4.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <a href="#" class="d-block" target="_blank">
                            <img src="assets/img/partner/partner5.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <a href="#" class="d-block" target="_blank">
                            <img src="assets/img/partner/partner6.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <a href="#" class="d-block" target="_blank">
                            <img src="assets/img/partner/partner7.png" alt="image">
                        </a>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>

<!-- Partner Section for Home Demo - 2 -->
<div
    class="partner-area ptb-100 d-none"
    [ngClass]="{'d-block': router.url === '/index-2'}"
>
    <div class="container">
        <div class="partner-slides">
            <owl-carousel-o [options]="partnerSlides">
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <a href="#" class="d-block" target="_blank">
                            <img src="assets/img/partner/partner1.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <a href="#" class="d-block" target="_blank">
                            <img src="assets/img/partner/partner2.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <a href="#" class="d-block" target="_blank">
                            <img src="assets/img/partner/partner3.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <a href="#" class="d-block" target="_blank">
                            <img src="assets/img/partner/partner4.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <a href="#" class="d-block" target="_blank">
                            <img src="assets/img/partner/partner5.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <a href="#" class="d-block" target="_blank">
                            <img src="assets/img/partner/partner6.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <a href="#" class="d-block" target="_blank">
                            <img src="assets/img/partner/partner7.png" alt="image">
                        </a>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>

<!-- Partner Section for Home Demo - 4 -->
<div
    class="industry-partner-area d-none"
    [ngClass]="{'d-block': router.url === '/index-4'}"
>
    <div class="container">
        <div class="section-title with-max-width">
            <h2>Industry Partners</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="industry-partner-inner-box pt-100 pb-70">
            <div class="partner-slides">
                <owl-carousel-o [options]="partnerSlides">
                    <ng-template carouselSlide>
                        <div class="partner-card">
                            <a href="#" class="d-block" target="_blank">
                                <img src="assets/img/cybersecurity-home/partner/partner-1.png" alt="image">
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="partner-card">
                            <a href="#" class="d-block" target="_blank">
                                <img src="assets/img/cybersecurity-home/partner/partner-2.png" alt="image">
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="partner-card">
                            <a href="#" class="d-block" target="_blank">
                                <img src="assets/img/cybersecurity-home/partner/partner-3.png" alt="image">
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="partner-card">
                            <a href="#" class="d-block" target="_blank">
                                <img src="assets/img/cybersecurity-home/partner/partner-4.png" alt="image">
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="partner-card">
                            <a href="#" class="d-block" target="_blank">
                                <img src="assets/img/cybersecurity-home/partner/partner-5.png" alt="image">
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="partner-card">
                            <a href="#" class="d-block" target="_blank">
                                <img src="assets/img/cybersecurity-home/partner/partner-6.png" alt="image">
                            </a>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</div>

<!-- Partner Section for Home Demo - 5 -->
<div
    class="d-none"
    [ngClass]="{'d-block': router.url === '/index-5'}"
>
    <div class="industry-partner-area pt-100 pb-70">
        <div class="container">
            <div class="section-title with-max-width">
                <h2>Industry Partners</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="partner-slides">
                <owl-carousel-o [options]="partnerSlides">
                    <ng-template carouselSlide>
                        <div class="partner-card-box">
                            <a href="#" class="d-block">
                                <img src="assets/img/cybersecurity-home/partner/partner-7.png" alt="image">
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="partner-card-box">
                            <a href="#" class="d-block">
                                <img src="assets/img/cybersecurity-home/partner/partner-8.png" alt="image">
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="partner-card-box">
                            <a href="#" class="d-block">
                                <img src="assets/img/cybersecurity-home/partner/partner-9.png" alt="image">
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="partner-card-box">
                            <a href="#" class="d-block">
                                <img src="assets/img/cybersecurity-home/partner/partner-10.png" alt="image">
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="partner-card-box">
                            <a href="#" class="d-block">
                                <img src="assets/img/cybersecurity-home/partner/partner-11.png" alt="image">
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="partner-card-box">
                            <a href="#" class="d-block">
                                <img src="assets/img/cybersecurity-home/partner/partner-12.png" alt="image">
                            </a>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
    <div class="industry-partner-area">
        <div class="container">
            <div class="section-title with-max-width">
                <h2>Investors</h2>
            </div>
            <div class="industry-partner-inner-box-wrap pt-100 pb-70">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-6 col-sm-3 col-md-3">
                        <div class="partner-card">
                            <a href="#" class="d-block" target="_blank">
                                <img src="assets/img/cybersecurity-home/partner/partner-13.png" alt="image">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-6 col-sm-3 col-md-3">
                        <div class="partner-card">
                            <a href="#" class="d-block" target="_blank">
                                <img src="assets/img/cybersecurity-home/partner/partner-14.png" alt="image">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-6 col-sm-3 col-md-3">
                        <div class="partner-card">
                            <a href="#" class="d-block" target="_blank">
                                <img src="assets/img/cybersecurity-home/partner/partner-15.png" alt="image">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-6 col-sm-3 col-md-3">
                        <div class="partner-card">
                            <a href="#" class="d-block" target="_blank">
                                <img src="assets/img/cybersecurity-home/partner/partner-16.png" alt="image">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-6 col-sm-3 col-md-3">
                        <div class="partner-card">
                            <a href="#" class="d-block" target="_blank">
                                <img src="assets/img/cybersecurity-home/partner/partner-17.png" alt="image">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-6 col-sm-3 col-md-3">
                        <div class="partner-card">
                            <a href="#" class="d-block" target="_blank">
                                <img src="assets/img/cybersecurity-home/partner/partner-18.png" alt="image">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Partner Section for Home Demo - 6 -->
<div
    class="industry-partner-area d-none"
    [ngClass]="{'d-block': router.url === '/index-6'}"
>
    <div class="container">
        <div class="section-title with-max-width">
            <h2>Industry Partners</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="industry-partner-inner-box-wrap with-black-color pt-100 pb-70">
            <div class="partner-wrap-slides">
                <owl-carousel-o [options]="partnerSlides">
                    <ng-template carouselSlide>
                        <div class="partner-card">
                            <a href="#" class="d-block" target="_blank">
                                <img src="assets/img/cybersecurity-home/partner/partner-19.png" alt="image">
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="partner-card">
                            <a href="#" class="d-block" target="_blank">
                                <img src="assets/img/cybersecurity-home/partner/partner-20.png" alt="image">
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="partner-card">
                            <a href="#" class="d-block" target="_blank">
                                <img src="assets/img/cybersecurity-home/partner/partner-21.png" alt="image">
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="partner-card">
                            <a href="#" class="d-block" target="_blank">
                                <img src="assets/img/cybersecurity-home/partner/partner-22.png" alt="image">
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="partner-card">
                            <a href="#" class="d-block" target="_blank">
                                <img src="assets/img/cybersecurity-home/partner/partner-23.png" alt="image">
                            </a>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</div>