<div>
  <footer class="footer-area">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-sm-6 col-md-6">
          <div class="single-footer-widget">
            <a routerLink="/" class="d-inline-block logo">
              <img src="assets/dss-img/logo.png" alt="logo" width="120">
            </a>
            <a routerLink="/" class="logo d-none"
              [ngClass]="{'custom-opacity': router.url === '/index-4' || router.url === '/index-6'}">
              <img src="assets/img/white-logo.png" alt="logo">
            </a>
            <div class="newsletter-form">
              <p>SUBSCRIBE TO OUR NEWSLETTER</p>
              <form>
                <input type="email" class="input-newsletter" placeholder="Enter your email" name="email" required>
                <button type="submit">Subscribe Now <i class="ri-send-plane-line"></i></button>
              </form>
            </div>
            <ul class="social-links">
              <li><a href="#" target="_blank"><i class="ri-facebook-fill"></i></a></li>
              <li><a href="#" target="_blank"><i class="ri-twitter-fill"></i></a></li>
              <li><a href="#" target="_blank"><i class="ri-linkedin-fill"></i></a></li>
              <li><a href="#" target="_blank"><i class="ri-instagram-line"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-sm-6 col-md-6">
          <div class="single-footer-widget">
            <h3>Services</h3>
            <ul class="services-links">
              <li><a routerLink="/services">Web Development</a></li>
              <li><a routerLink="/services">Mobile Development</a></li>
              <li><a routerLink="/services">Web Designing</a></li>
              <li><a routerLink="/services">Digital Marketing</a></li>
              <li><a routerLink="/services">SEO Opptimizer</a></li>
              <li><a routerLink="/services">Progressive Web App Development</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-6">
          <div class="single-footer-widget pl-5">
            <h3>Quick Links</h3>
            <ul class="quick-links">
              <li><a routerLink="/">Home</a></li>
              <li><a routerLink="/about-us">About Us</a></li>
              <li><a routerLink="/services">Services</a></li>
              <!-- <li><a routerLink="/blog">Blog</a></li> -->
              <li><a routerLink="/contact">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-6">
          <div class="single-footer-widget">
            <h3>Contact Info</h3>
            <ul class="footer-contact-info">
              <!-- <li><strong>Address</strong>: 2750, Quadra Street Victoria, Canada</li> -->
              <li><strong>Email</strong>: <a href="mailto:dhyanasoftwaresolutions@gmail.com">dhyanasoftwaresolutions&#64;gmail.com</a></li>
              <li><strong>Phone</strong>: <a href="tel:+44587154756">+91 7990937502</a></li>
              <!-- <li><strong>Fax</strong>: <a href="tel:+44587154756">+55 58715 4756</a></li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="copyright-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <p><i class="ri-copyright-line"></i> <strong>Onux</strong> is Proudly Owned by <a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <ul>
                            <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                            <li><a routerLink="/terms-conditions">Terms & Conditions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->
  </footer>
</div>
