<div class="cybersecurity-banner-area">
    <div class="container-fluid">
        <div class="row align-items-center m-0">
            <div class="col-lg-6 col-md-12 p-0">
                <div class="cybersecurity-banner-content">
                    <span class="sub-title">World Class Security</span>
                    <h1>Secure Your Data from Cyber Attacks</h1>
                    <p>Donec sollicitudin molestie malesuada. Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Donec rutrum congue leo eget malesuada.</p>
                    <a routerLink="/contact" class="default-btn style-two">
                        <span class="ri-arrow-right-s-line"></span>
                        Learn More
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 p-0">
                <div class="cybersecurity-banner-image">
                    <img src="assets/img/cybersecurity-home/banner/banner.png" alt="image">
                </div>
            </div>
        </div>
    </div>
    <div class="shape2"><img src="assets/img/shape/shape2.png" alt="image"></div>
    <div class="shape3"><img src="assets/img/shape/shape3.png" alt="image"></div>
</div>