<!-- Why Choose Us Section for this Template -->
<div
    class="why-choose-us-area ptb-100"
    [ngClass]="{'d-none': router.url === '/index-5' || router.url === '/index-6'}"
>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="why-choose-us-content">
                    <span class="sub-title">Why Choose Us</span>
                    <h2>You Can Choose Us By Looking At Our Different Work Skills</h2>
                    <p>Donec sollicitudin molestie malesuada vivamus magna justo lacinia eget consectetur sed convallis at tellus donec rutrum congue leo eget malesuada quisque velit nisi pretium ut lacinia in elementum.</p>
                    <ul class="list">
                        <li><i class="ri-check-fill"></i> Network and system administration</li>
                        <li><i class="ri-check-fill"></i> Operating system and virtual machine</li>
                        <li><i class="ri-check-fill"></i> Network security control</li>
                        <li><i class="ri-check-fill"></i> Coding languages</li>
                        <li><i class="ri-check-fill"></i> Cloud security</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="why-choose-us-image">
                    <img src="assets/img/cybersecurity-home/choose/choose.png" alt="image">
                </div>
            </div>
        </div>
    </div>
    <div class="why-choose-us-shape"><img src="assets/img/cybersecurity-home/choose/shape.png" alt="image"></div>
</div>

<!-- Why Choose Us Section for Home Demo - 5 -->
<div
    class="cryptocurrency-choose-area pb-100 d-none"
    [ngClass]="{'d-block': router.url === '/index-5'}"
>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="cryptocurrency-choose-image">
                    <img src="assets/img/cryptocurrency-home/choose/choose.png" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="cryptocurrency-choose-content">
                    <span class="sub-title">Why Choose Crypto</span>
                    <h2>Investors In Icos Expect To Gain Value From Tokens</h2>
                    <div class="choose-inner-box">
                        <div class="image">
                            <img src="assets/img/cryptocurrency-home/choose/image-1.png" alt="image">
                        </div>
                        <h3>Full Interoperability</h3>
                        <p>Nulla quis lorem ut libero malesuada feugiat. Vivamus magna justo lacinia eget consectetur sed convallis at tellus.</p>
                    </div>
                    <div class="choose-inner-box with-some-left">
                        <div class="image">
                            <img src="assets/img/cryptocurrency-home/choose/image-2.png" alt="image">
                        </div>
                        <h3>Contract Level Security</h3>
                        <p>Nulla quis lorem ut libero malesuada feugiat. Vivamus magna justo lacinia eget consectetur sed convallis at tellus.</p>
                    </div>
                    <div class="choose-inner-box">
                        <div class="image">
                            <img src="assets/img/cryptocurrency-home/choose/image-3.png" alt="image">
                        </div>
                        <h3>Live Human Support</h3>
                        <p>Nulla quis lorem ut libero malesuada feugiat. Vivamus magna justo lacinia eget consectetur sed convallis at tellus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Why Choose Us Section for Home Demo - 6 -->
<div
    class="ico-choose-area pb-100 d-none"
    [ngClass]="{'d-block': router.url === '/index-6'}"
>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="ico-choose-content">
                    <span class="sub-title">Why Choose ICO</span>
                    <h2>Investors In Icos Expect To Gain Value From Tokens</h2>
                    <div class="choose-inner-box">
                        <div class="image">
                            <img src="assets/img/ico-landing-home/choose/icon-1.png" alt="icon">
                        </div>
                        <h3>Full Interoperability</h3>
                        <p>Nulla quis lorem ut libero malesuada feugiat. Vivamus magna justo lacinia eget consectetur sed convallis at tellus.</p>
                    </div>
                    <div class="choose-inner-box">
                        <div class="image">
                            <img src="assets/img/ico-landing-home/choose/icon-2.png" alt="icon">
                        </div>
                        <h3>Contract Level Security</h3>
                        <p>Nulla quis lorem ut libero malesuada feugiat. Vivamus magna justo lacinia eget consectetur sed convallis at tellus.</p>
                    </div>
                    <div class="choose-inner-box">
                        <div class="image">
                            <img src="assets/img/ico-landing-home/choose/icon-3.png" alt="icon">
                        </div>
                        <h3>Live Human Support</h3>
                        <p>Nulla quis lorem ut libero malesuada feugiat. Vivamus magna justo lacinia eget consectetur sed convallis at tellus.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="ico-choose-image">
                    <img src="assets/img/ico-landing-home/choose/choose.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>