<div class="blog-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">RELATED BLOG</span>
            <h2>You May Also Like</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-blog-post">
                    <div class="image">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="assets/img/blog/blog6.jpg" alt="image">
                        </a>
                        <span class="date">March 17, 2022</span>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/blog-details">Content Writing Resources</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        <a routerLink="/blog-details" class="default-btn">
                            <span class="ri-arrow-right-s-line"></span>
                            Read More
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-blog-post">
                    <div class="image">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="assets/img/blog/blog7.jpg" alt="image">
                        </a>
                        <span class="date">March 16, 2022</span>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/blog-details">Social Marketing Resources</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        <a routerLink="/blog-details" class="default-btn">
                            <span class="ri-arrow-right-s-line"></span>
                            Read More
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-blog-post">
                    <div class="image">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="assets/img/blog/blog8.jpg" alt="image">
                        </a>
                        <span class="date">March 15, 2022</span>
                    </div>
                    <div class="content">
                        <h3><a routerLink="/blog-details">Video Marketing Resources</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        <a routerLink="/blog-details" class="default-btn">
                            <span class="ri-arrow-right-s-line"></span>
                            Read More
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>