<!-- Pricing Section for this Template -->
<div
    class="pricing-area bg-gradient-image pt-100 pb-70"
    [ngClass]="{'d-none': router.url === '/index-4'}"
>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="single-pricing-box">
                    <div class="pricing-header">
                        <h3>Free</h3>
                        <p>Give Onux a try for free</p>
                    </div>
                    <div class="price">
                        <h4>$0<span>/month</span></h4>
                        <p>Pricing includes coverage for users</p>
                    </div>
                    <a routerLink="/contact" class="link-btn">Get Started</a>
                    <div class="features-list">
                        <h5>ALL FEATURES:</h5>
                        <ul>
                            <li><i class="ri-check-line"></i> 1 seat</li>
                            <li><i class="ri-check-line"></i> 1 active project</li>
                            <li><i class="ri-check-line"></i> Limited blocks</li>
                            <li><i class="ri-close-line"></i> Conditions</li>
                            <li><i class="ri-close-line"></i> CSV export</li>
                            <li><i class="ri-close-line"></i> Password protection</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="single-pricing-box">
                    <div class="pricing-header">
                        <h3>Starter</h3>
                        <p>Best for individual designers</p>
                    </div>
                    <div class="price">
                        <h4>$49<span>/month</span></h4>
                        <p>Pricing includes coverage for users</p>
                    </div>
                    <a routerLink="/contact" class="link-btn">Get Started</a>
                    <div class="features-list">
                        <h5>ALL FEATURES:</h5>
                        <ul>
                            <li><i class="ri-check-line"></i> 1 seat</li>
                            <li><i class="ri-check-line"></i> 3 active project</li>
                            <li><i class="ri-check-line"></i> Unlimited blocks</li>
                            <li><i class="ri-check-line"></i> Conditions</li>
                            <li><i class="ri-check-line"></i> CSV export</li>
                            <li><i class="ri-close-line"></i> Password protection</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="single-pricing-box active">
                    <div class="pricing-header">
                        <h3>Team</h3>
                        <p>Get your team together</p>
                    </div>
                    <div class="price">
                        <h4>$39<span>/month</span></h4>
                        <p>Pricing includes coverage for users</p>
                    </div>
                    <a routerLink="/contact" class="link-btn">Get Started</a>
                    <div class="features-list">
                        <h5>ALL FEATURES:</h5>
                        <ul>
                            <li><i class="ri-check-line"></i> 3+ seat</li>
                            <li><i class="ri-check-line"></i> 10 active project</li>
                            <li><i class="ri-check-line"></i> Unlimited blocks</li>
                            <li><i class="ri-check-line"></i> Team management</li>
                            <li><i class="ri-check-line"></i> Customization</li>
                            <li><i class="ri-check-line"></i> Password protection</li>
                        </ul>
                    </div>
                    <div class="ribbon"><span>Popular</span></div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="single-pricing-box">
                    <div class="pricing-header">
                        <h3>Enterprise</h3>
                        <p>For large teams & enterprises</p>
                    </div>
                    <div class="price">
                        <h4>Custom</h4>
                        <p>Annual billing only</p>
                    </div>
                    <a routerLink="/contact" class="link-btn">Contact Us</a>
                    <div class="features-list">
                        <h5>ALL FEATURES:</h5>
                        <ul>
                            <li><i class="ri-check-line"></i> 10+ seat</li>
                            <li><i class="ri-check-line"></i> Unlimited projects</li>
                            <li><i class="ri-check-line"></i> Dedicated CSM</li>
                            <li><i class="ri-check-line"></i> Legal blocks</li>
                            <li><i class="ri-check-line"></i> Dedicated onboarding</li>
                            <li><i class="ri-check-line"></i> Custom payment terms</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Pricing Section for Home Demo - 4 -->
<div
    class="pricing-style-area pt-100 pb-70 d-none"
    [ngClass]="{'d-block': router.url === '/index-4'}"
>
    <div class="container">
        <div class="section-title with-max-width">
            <h2>Our Pricing Plan</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                <div class="single-pricing-card">
                    <div class="pricing-header">
                        <h3>Basic</h3>
                    </div>
                    <div class="price">
                        <h4>Free<span>/Per Month</span></h4>
                    </div>
                    <div class="features-list">
                        <ul>
                            <li><i class="ri-checkbox-circle-line"></i> 30 Days product testing</li>
                            <li><i class="ri-checkbox-circle-line"></i> Upgrade anytime protection</li>
                            <li><i class="ri-checkbox-circle-line"></i> Unlimited malware removal</li>
                            <li><i class="ri-checkbox-circle-line"></i> 24/7 Live assistance</li>
                            <li><i class="ri-checkbox-circle-line"></i> Scan every 13 Hrs</li>
                            <li><i class="ri-checkbox-circle-line"></i> Configure software</li>
                        </ul>
                    </div>
                    <a routerLink="/contact" class="link-btn">Get Started</a>
                    <div class="pricing-shape">
                        <img src="assets/img/cybersecurity-home/pricing-shape.png" alt="image">
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                <div class="single-pricing-card">
                    <div class="pricing-header">
                        <h3>Starter</h3>
                    </div>
                    <div class="price">
                        <h4>$49<span>/Per Month</span></h4>
                    </div>
                    <div class="features-list">
                        <ul>
                            <li><i class="ri-checkbox-circle-line"></i> 30 Days product testing</li>
                            <li><i class="ri-checkbox-circle-line"></i> Upgrade anytime protection</li>
                            <li><i class="ri-checkbox-circle-line"></i> Unlimited malware removal</li>
                            <li><i class="ri-checkbox-circle-line"></i> 24/7 Live assistance</li>
                            <li><i class="ri-checkbox-circle-line"></i> Scan every 13 Hrs</li>
                            <li><i class="ri-checkbox-circle-line"></i> Configure software</li>
                        </ul>
                    </div>
                    <a routerLink="/contact" class="link-btn">Get Started</a>
                    <div class="pricing-shape">
                        <img src="assets/img/cybersecurity-home/pricing-shape.png" alt="image">
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                <div class="single-pricing-card">
                    <div class="pricing-header">
                        <h3>Exclusive</h3>
                    </div>
                    <div class="price">
                        <h4>$99<span>/Per Month</span></h4>
                    </div>
                    <div class="features-list">
                        <ul>
                            <li><i class="ri-checkbox-circle-line"></i> 30 Days product testing</li>
                            <li><i class="ri-checkbox-circle-line"></i> Upgrade anytime protection</li>
                            <li><i class="ri-checkbox-circle-line"></i> Unlimited malware removal</li>
                            <li><i class="ri-checkbox-circle-line"></i> 24/7 Live assistance</li>
                            <li><i class="ri-checkbox-circle-line"></i> Scan every 13 Hrs</li>
                            <li><i class="ri-checkbox-circle-line"></i> Configure software</li>
                        </ul>
                    </div>
                    <a routerLink="/contact" class="link-btn">Get Started</a>
                    <div class="pricing-shape">
                        <img src="assets/img/cybersecurity-home/pricing-shape.png" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>